<div class="logo mt-10">
  <div>
    <%= link_to root_path, class: "" do %>
      <%= image_tag "logo.png", class: "w-24 h-24 ml-2 lg:ml-20" %>
    <% end %>
  </div>
  <div class="flex flex-wrap justify-around">
    <div>
      <%= link_to companies_path, class: "mt-6 m-2 py-2 px-4 text-white font-semibold rounded-lg shadow-md border-solid border-2 border-white focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 absolute right-10 top-10" do %>
        List your spaceflight
      <% end %>
    </div>
    <div class="ml-24">
      <%= link_to blogs_path, class: "mt-6  py-2 text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 sm:absolute sm:right-72 sm:top-10" do %>
        Blog
      <% end %>
    </div>
  </div>
</div>


<div class=" m-10 sm:m-20 text-white text-4xl font-bold ">
  Your Guide To Human Space Travel
</div>


<% blog_cover = contentful.entries(content_type: 'b', include: 2).first %>
<%= link_to blog_path(blog_cover.slug) do %>
<div class="main-card text-white m-10 md:flex">
  <div class="image pb-8 ">
    <% cover_image_url = blog_cover.cover.try(:url) %>
      <%= image_tag cover_image_url, class: "rounded-lg", height: "300", width: "600"%>
  </div>
  <div class="blog-overview-text md:ml-8">
    <div class="title text-2xl max-w-md ">
      <%= blog_cover.title %>
    </div>
    <div class="text-preview pt-8 max-w-md">
      <%= @renderer.render(blog_cover.body).truncate(150, separator: ' ').html_safe%>
    </div>
  </div>
</div>
<% end %>



<div class=" m-10 sm:m-20 flex flex-wrap justify-around">
<% @blogs.drop(1).each do |blog| %>
  <%= link_to blog_path(blog.slug) do %>
        <div class="image rounded-lg">
            <%= image_tag "balloon.jpg", class: "w-80 h-40 contentful_product text-white pt-10 card text-white rounded-lg" %>
        </div>
        <div class="text-white">
          <%= blog.title  %>
        </div>
  <% end %>
<% end %>
</div>



