<div class="logo mt-10">
  <%= link_to root_path, class: "" do %>
    <%= image_tag "logo.png", class: "w-24 h-24 ml-2 lg:ml-20" %>
  <% end %>
  <%= link_to companies_path, class: "mt-6 m-2 py-2 px-4 text-white font-semibold rounded-lg shadow-md border-solid border-2 border-white focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 absolute right-10 top-10" do %>
    List your spaceflight
  <% end %>
  <%= link_to blogs_path, class: "mt-6 m-2 py-2 px-4 text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 absolute right-72 top-10" do %>
    Blog
  <% end %>
</div>


<div class=" m-20 text-white text-5xl font-bold ">
  Your guide to Human Space Travel
</div>


<div class="main-card text-white flex ml-10 mr-40">
  <% product_cover = contentful.entries(content_type: '', include: 2).first %>

  <div class="image">
  <%= image_tag "balloon.jpg", class: "w-100 h-100" %>
  </div>
  <div>
    <div class="pl-4">
      <div class="title text-2xl ">
      <%= product_cover.title %>
    </div>
    <div class="text-preview pt-8 max-w-md">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dol
    </div>
      </div>
    </div>
</div>


<div class=" m-20 flex flex-wrap justify-around">
<% products = contentful.entries(content_type: 'b', include: 2) %>
<% products.drop(1).each do |product| %>
<div class="card px-4">
  <div class="image">
      <%= image_tag "balloon.jpg", class: "w-80 h-40 contentful_product text-white pt-10 card text-white" %>
  </div>
  <div class="title text-white pt-8">
    <%= product.title  %>
  </div>
</div>
<% end %>
</div>

