<div class="logo mt-10">
  <%= link_to root_path, class: "" do %>
    <%= image_tag "logo.png", class: "w-24 h-24 ml-2 lg:ml-20" %>
  <% end %>
  <%= link_to info_path, class: "mt-6 m-2 py-2 px-4 text-purple-500 font-semibold rounded-lg shadow-md border-solid border-2 border-purple-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 absolute right-10 top-10" do %>
    List your spaceflight
  <% end %>
</div>


<%= simple_form_for :filters, url: company_destinations_path, method: :get do |f| %>
      <div class="ml-10 mt-10 mr-10 flex flex-wrap justify-end ...">
        <%= f.input :destination, as: :select, label: false, collection:  Destination.all, include_blank: "💫 Destination", value_method: :id, onchange: "this.form.submit()", input_html: {class: "category-tag-filter filter-1 m-2 py-2 px-4 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" }, selected: params.dig(:filters, :destination)%>
        <%= f.input :vehicle, as: :select, label: false, collection:  ['Baloon', 'Plane', 'Rocket'], include_blank: "🛸 Vehicle", onchange: "this.form.submit()", input_html: {class: "category-tag-filter filter-1 m-2 py-2 px-4 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" }, selected: params.dig(:filters, :vehicle)%>
        <%= f.input :price, as: :select, label: false, collection:  ["<$0.5M", "<$1M", "<$10M", "<$100M" ], include_blank: "＄Max Price", onchange: "this.form.submit()", input_html: { class: "category-tag-filter filter-2 m-2 py-2 px-4 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" }, selected: params.dig(:filters, :price) %>
        <%= f.submit "Apply filter", class: "btn btn-primary  btn-apply-filter m-2 py-2 px-4 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 hover:from-pink-500 hover:to-yellow-500" %>
      </div>
    <% end %>
</div>


  <div class="flex flex-wrap mt-10 mr-10 ml-10 justify-around">
   <% @company_destinations.each do |company_destination| %>
    <%= link_to company_destination_path(company_destination.id) do %>
   <div class="company w-64 pb-4 bg-slate-900 mx-2 mb-8 rounded-lg shadow-lg hover:shadow-gray-700">
      <div class="image">
        <% if company_destination.id == 1 %>
        <%= image_tag "baloon.jpg", class: "w-screen h-40" %>
        <% elsif company_destination.id == 2 %>
        <%= image_tag "earth.jpg", class: "w-screen h-40" %>
        <% elsif company_destination.id == 3 %>
        <%= image_tag "meso.jpg", class: "w-screen h-40" %>
        <% elsif company_destination.id == 4 %>
        <%= image_tag "meteors.jpg", class: "w-screen h-40" %>
        <% elsif company_destination.id == 5 %>
        <%= image_tag "aurora.jpg", class: "w-screen h-40" %>
        <% elsif company_destination.id == 6 %>
        <%= image_tag "thermo.jpg", class: "w-screen h-40" %>
        <% elsif company_destination.id == 7 %>
        <%= image_tag "iss.jpg", class: "w-screen h-40" %>
        <% elsif company_destination.id == 8 %>
        <%= image_tag "moon.jpg", class: "w-screen h-40" %>
        <% elsif company_destination.id == 9 %>
        <%= image_tag "mars.jpg", class: "w-screen h-40" %>
        <% end %>
      </div>
      <div class="tags pt-2 pr-2 flex justify-end ...">
        <button class="m-2 py-1 px-2 text-pink-600 bg-pink-200 text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
          <%= company_destination.destination.name %>
        </button>
      </div>
      <div class="info pt-5 pl-5 leading-8 ">
        <ul>
          <li> <%= company_destination.flight_name %></li>
          <li class="text-slate-600">Company: <%= company_destination.company.name %></li>
          <li class="text-slate-600"> Vehicle: <%= company_destination.vehicle %></li>
          <li class="text-slate-600"> Next bookable flight: <%= company_destination.next_bookable_flight %></li>
          <li class="text-slate-600"> Starting from: $<%= company_destination.price.to_s(:delimited)  %></li>
        </ul>
      </div>
   </div>
   <% end %>

    <% end %>
  </div>

  <% if @company_destinations.empty? %>
    <p class="text-center text-white">No flights found. Please try a different set of filters!</p>
  <% end %>
