<div class="logo mt-10">
  <%= link_to root_path, class: "" do %>
    <%= image_tag "logo.png", class: "w-24 h-24 ml-2 lg:ml-20" %>
  <% end %>
  <%= link_to companies_path, class: "mt-6 m-2 py-2 px-4 text-purple-500 font-semibold rounded-lg shadow-md border-solid border-2 border-purple-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 absolute right-10 top-10" do %>
    List your spaceflight
  <% end %>
</div>


<%= link_to flights_path, class: "back_button text-white" do %>
  <p class="ml-20 mt-10"> <- Back to spaceflights</p>
<% end %>


<div class="flex flex-wrap" >
  <div class="mt-4 mr-20 ml-20 text-white" style="width: 560px;">
      <div class="image h-72 w-86">
     <% if @company_destination.id == 1 %>
     <%= image_tag "trop.jpg", class: "w-screen h-60" %>
     <% elsif @company_destination.id == 2 %>
     <iframe width="100%" height="315" src="https://uploads-ssl.webflow.com/63edee4df2dc85208ed68d08/63ff64b10fd69112d411f84c_Video-transcode.webm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     <% elsif @company_destination.id == 3 %>
     <iframe width="100%" height="315" src="https://uploads-ssl.webflow.com/63edee4df2dc85208ed68d08/63ff64b10fd69112d411f84c_Video-transcode.webm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     <% elsif @company_destination.id == 4 %>
     <iframe width="100%" height="315" src="https://uploads-ssl.webflow.com/63edee4df2dc85208ed68d08/63ff64b10fd69112d411f84c_Video-transcode.webm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     <% elsif @company_destination.id == 5 %>
     <iframe width="100%" height="315" src="https://www.youtube.com/embed/ZPrB3WvnZpE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     <% elsif @company_destination.id == 6 %>
     <iframe width="100%" height="315" src="https://www.youtube.com/embed/ZPrB3WvnZpE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     <% elsif @company_destination.id == 7 %>
     <iframe width="100%" height="315" src="https://www.youtube.com/embed/ZPrB3WvnZpE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     <% elsif @company_destination.id == 8 %>
     <%= image_tag "thermo.jpg", class: "w-screen h-60" %>
     <% elsif @company_destination.id == 9 %>
     <%= image_tag "iss.jpg", class: "w-screen h-60" %>
     <% elsif @company_destination.id == 10 %>
     <%= image_tag "moon.jpg", class: "w-screen h-60" %>
     <% elsif @company_destination.id == 11 %>
     <%= image_tag "mars.jpg", class: "w-screen h-60" %>
     <% end %>
        </div>
  <ul class="mt-12">
    <li> <%= @company_destination.flight_name%> </li>
    <li class="text-slate-400"> Company: <%= @company_destination.company.name%></li>
    <li class="text-slate-400"> Vehicle: <%= @company_destination.vehicle %> </li>
    <li class="text-slate-400"> Scheduled Departure: <%= @company_destination.next_bookable_flight %></li>
    <li class="text-slate-400"> Starting from: $<%= @company_destination.price.to_s(:delimited) %></li>
    <li class="text-slate-400"> Distance from Earth: <%= @company_destination.distance.to_s(:delimited)%>km</li>
  </ul>

  <div class="intro border-t-2 pt-5 mt-5">
    <h1 class="font-bold">FLIGHT INFO</h1><br>
<!-- info about v gal -->
<% if @company_destination.id == 5 || @company_destination.id == 6 || @company_destination.id == 7  %>
  <%= render "shared/vgal" %>
<% elsif @company_destination.id == 2 || @company_destination.id == 3 || @company_destination.id == 4 %>
<%= render "shared/halo" %>
  <% else%>
  <p>Please sign up to our Newsletter to receive more information about flights to this destination and much more.</p>
<% end %>
  </div>
  <div class="intro border-t-2 pt-5 mt-5 mb-5 ">
    <h1 class="font-bold">COMPANY INFO</h1><br>
    <% if @company_destination.id == 5 || @company_destination.id == 6 || @company_destination.id == 7 %>
      <%= render "shared/vgalinfo" %>
      <% elsif @company_destination.id == 2 || @company_destination.id == 3 || @company_destination.id == 4 %>
      <%= render "shared/haloinfo" %>
      <% else%>
      <p>Please sign up to our Newsletter to receive more information about companies flying to space.</p>
    <% end %>
  </div>

  </div>

  <div class="mb-24 ml-20 sm:mr-20 sm:ml-20 text-white style=" style=" float: right;
    max-height: calc(100vh - 152px);
    max-width: 448px;
    position: sticky;
    top: 162px;">
    <div class="ready">
    <% if @company_destination.id == 5 || @company_destination.id == 6 || @company_destination.id == 7 %>
    <% else %>
<!--     <h1 class="mb-10">READY TO GO?</h1>
    <button class="px-4 mr-2 mt-2 py-2 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
      RESERVE YOUR TRIP -> -->
    <% end %>
      </button>
    </div>
    <div class="questions">
    <h1 class="font-bold pb-4">
    <% if @company_destination.id == 5 || @company_destination.id == 6 || @company_destination.id == 7 %>
      SIGN UP FOR MORE INFORMATION <br>
      FROM VIRGIN GALACTIC
    <% elsif @company_destination.id == 2 || @company_destination.id == 3 || @company_destination.id == 4 %>
    FOR THE LATEST FROM HALO SPACE, <br>
    INCLUDING WHEN DEPOSITS WILL OPEN <br>
    PLEASE LEAVE YOUR DETAILS BELOW
    <% else %>
      SIGN UP TO THE NEWSLETTER <br>
      <button onclick=" window.open('http://eepurl.com/ibbdVL','_blank')" class="w-full btn btn-primary  btn-apply-filter m-2 py-2 px-4 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 hover:from-pink-500 hover:to-yellow-500">Sign Up</button>
    <% end %>
    </h1>
<!--     <button class="px-4 py-2 bg-purple-500 text-white font-semibold rounded-lg shadow-md hover:bg-purple-800  focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
      <% if @company_destination.id == 3 %>
      LEAVE YOUR DETAILS ->
      <% else %>
      GET ANSWERS HERE ->
      <% end %>
    </button> -->
        <% if @company_destination.id == 5 || @company_destination.id == 6 || @company_destination.id == 7 || @company_destination.id == 2 || @company_destination.id == 3 || @company_destination.id == 4 %>
        <%= render "leads/new" %>
        <% flash.each do |type, msg| %>
          <div class="alert alert-info">
            <p style="text-purple-500-400"><%= msg %></p>
          </div>
        <% end %>
        <% else %>
        <% end %>
    </div>
  </div>
</div>
