<div class="logo mt-10">
  <%= link_to root_path, class: "" do %>
    <%= image_tag "logo.png", class: "w-24 h-24 ml-2 lg:ml-20" %>
  <% end %>
  <%= link_to companies_path, class: "mt-6 m-2 py-2 px-4 text-white font-semibold rounded-lg shadow-md border-solid border-2 border-white focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 absolute right-10 top-10" do %>
    List your spaceflight
  <% end %>
</div>



<div class="cta-container mt-10 relative mb-36">
  <div class="cta-image px-8">
    <%= image_tag 'earth-homepage.jpg', alt: 'This is a background image', style: 'border-radius: 60px; width="100%;'%>
  </div>
  <div class="cta-text absolute top-20 left-20">
    <div class="cta-cta cta_title text-5xl font-bold text-white pb-8">
      Discover life changing<br>
      Spaceflights
    </div>
    <div class="cta-text w-50 text-gray-300 pb-10">
    <p>Travel to space for Leisure, Philanthropy or Research</p>
    </div>
        <div class="cta-button">
          <%= link_to flights_path, class: "btn btn-primary  btn-apply-filter m-2 py-4 px-6 bg-slate-900 text-black font-semibold rounded-lg shadow-md hover:bg-slate-300 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 bg-white hover:from-pink-500 hover:to-yellow-500", style: "
  box-shadow: 0px 1px 26px 0px rgba(106, 146, 226, 0.96);" do %>
            SEARCH NOW
          <% end %>
        </div>
    </div>
  </div>


  <div class="explainer mt-100 pt-20 pb-20 flex flex-wrap justify-around">
  <div class="explainer_info text-white ml-8 mr-8">
    <div class="explainer_title text-3xl text-white font-bold">
      What is Spaceflight Index?
    </div>
    <div class="explainer_text pb-10" style="max-width: 400px;">
      Spaceflight Index is a comparison site dedicated to spaceflights and space experiences. <br><br>

      No matter where you want to go in space, you can find it on Spaceflight Index. It's as simple as searching for a flight on Earth.
    </div>
  </div>
<!--   <div class="image content-center">
    <%= image_tag "spaceflightindex.gif", class: "h-40", style: "width:300px"%>
  </div> -->
  </div>
  <<!-- div class="steps_title explainer_title text-3xl text-white font-bold text-center pb-20">
    Steps
  </div>
  <div class="steps flex justify-around flex-wrap text-center text-white">
    <div class="step p-10 w-96">
      <div class="emoji text-3xl">
        ✅
      </div>
      <div class="step_title font-bold pt-8">
        1 - Search
      </div>
      <div class="step_text">
        Prefer a balloon flight to going in a rocket? Have a budget of $1m? No problem. You can filter by that and more!
      </div>
    </div>
    <div class="step p-10 w-96">
      <div class="emoji text-3xl">
        🔎
      </div>
      <div class="step_title font-bold pt-8 w-100">
    2 - Choose
      </div>
      <div class="step_text">
        Find up to date information about a flight all in one place
      </div>
    </div>
    <div class="step p-10 w-96">
      <div class="emoji text-3xl">
        👋
      </div>
      <div class="step_title font-bold pt-8">
    3 - Contact
      </div>
      <div class="step_text">
        Get in touch with the right person at the space comapany or go straight to booking
      </div>
    </div>
  </div> -->
<!--   <div class="cta mb-40">
    <div class="cta_text w-50 text-center pb-10 text-gray-300 px-10">
    <p>Get notified about our official launch via our newsletter</p>
    </div>
    <div class="lead flex items-center justify-center">
        <button onclick=" window.open('http://eepurl.com/ibbdVL','_blank')" class="btn btn-primary  btn-apply-filter m-2 py-2 px-4 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 hover:from-pink-500 hover:to-yellow-500">Sign Up</button>
    </div>
  </div>
 -->  <!-- <div class="steps_title explainer_title text-3xl text-white font-bold text-center pb-20">
    Features
  </div> -->
<!--   <div class="steps flex justify-around flex-wrap text-center text-white">
    <div class="step p-10 w-96">
      <div class="emoji text-3xl">
        ⌛️
      </div>
      <div class="step_title font-bold pt-8">
        1 - Save Time
      </div>
      <div class="step_text">
        All the important info about a spaceflight, all in one place
      </div>
    </div>
    <div class="step p-10 w-96">
      <div class="emoji text-3xl">
        🆕
      </div>
      <div class="step_title font-bold pt-8 w-100">
    2 - Discover
      </div>
      <div class="step_text">
        Find new spaceflights from companies you may not have heard of yet
      </div>
    </div>
    <div class="step p-10 w-96">
      <div class="emoji text-3xl">
        💫
      </div>
      <div class="step_title font-bold pt-8">
    3 - Exclusive Experiences
      </div>
      <div class="step_text">
        Keep an eye out for exclusive events and experiences. Only from Spaceflight Index!
      </div>
    </div>
  </div> -->
  <div class="cta mb-10">
    <div class="cta_text w-50 text-center pb-10 text-gray-300 px-10">
    <p>Get notified about our offical launch via our newsletter</p>
    </div>
    <div class="lead flex items-center justify-center">
<!--       <div class="xl">
        <input
          type=""
          class="
            form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
          "
          id="exampleFormControlInput1"
          placeholder="Email"
        />
      </div> -->
      <button onclick=" window.open('http://eepurl.com/ibbdVL','_blank')" class="btn btn-primary  btn-apply-filter m-2 py-2 px-4 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 style: "
  box-shadow: 0px 1px 26px 0px rgba(106, 146, 226, 0.96);">Sign Up</button>
    </div>
  </div>
