<div class="logo mt-10">
  <%= link_to root_path, class: "" do %>
    <%= image_tag "logo.png", class: "w-24 h-24 ml-2 lg:ml-20" %>
  <% end %>
  <%= link_to companies_path, class: "mt-6 m-2 py-2 px-4 text-white font-semibold rounded-lg shadow-md border-solid border-2 border-white focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 absolute right-10 top-10" do %>
    List your spaceflight
  <% end %>
  <%= link_to blog_path, class: "mt-6 m-2 py-2 px-4 text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 absolute right-72 top-10" do %>
    Blog
  <% end %>
</div>

<div class="cta-container mt-10 relative mb-10">
  <div class="cta-image px-8">
    <%= image_tag 'earth-homepage.jpg', alt: 'This is a background image', style: 'border-radius: 60px; height:580px;', class: "w-screen"%>
  </div>
  <div class="cta-text absolute top-20 left-12 md:left-20">
    <div class="cta-cta cta_title text-5xl font-bold text-white pb-8">
      Discover life changing<br>
      Spaceflights
    </div>
    <div class="cta-text w-50 text-gray-300 pb-10 w-48 lg:w-96">
    Travel to space for Leisure, Philanthropy or Research
    </div>
        <div class="cta-button">
          <%= link_to flights_path, class: "btn btn-primary  btn-apply-filter m-2 py-4 px-6 bg-slate-900 text-black font-semibold rounded-lg shadow-md hover:bg-slate-300 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 bg-white hover:from-pink-500 hover:to-yellow-500", style: "
  box-shadow: 0px 1px 26px 0px rgba(106, 146, 226, 0.96);" do %>
            SEARCH NOW
          <% end %>
        </div>
    </div>
  </div>


  <div class="explainer mt-96 sm:mt-16 pt-20 pb-20 flex flex-wrap justify-around mx-8">
  <div class="explainer_info text-white mr-8">
    <div class="explainer_title text-3xl text-white font-bold pb-4 mt-10">
      What is Spaceflight Index?
    </div>
    <div class="explainer_text pb-10" style="max-width: 400px;">
      Spaceflight Index is a comparison site dedicated to spaceflights and space experiences. <br><br>

      No matter where you want to go in space, you can find it on Spaceflight Index. It's as simple as searching for a flight on Earth.
    </div>
  </div>

    <div class="company-benefits bg-slate-900 p-10 rounded-lg ">
    <div class="company-benefits-title text-white text-l pb-4 font-bold">
      For the latest in commercial space travel please sign up to our newsletter
    </div>
    <div class="company-benefits-list text-white pb-4">
      <ul>
        <li>- Latest Companies to join </li>
        <li>- Exclusive events</li>
        <li>- Guide to commercial human spaceflight</li>
      </ul>
    </div>
      <div class="cta-button">
        <button onclick=" window.open('http://eepurl.com/ibbdVL  ','_blank')" class="btn btn-primary  btn-apply-filter m-2 py-4 px-6 bg-slate-900 text-black font-semibold rounded-lg shadow-md hover:bg-slate-300 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 bg-white hover:from-pink-500 hover:to-yellow-500", style="
  box-shadow: 0px 1px 26px 0px rgba(106, 146, 226, 0.96);">Sign Up -> </button>
      </div>
    </div>
  </div>

