<div class="pb-4 sticky top-0 bg-black">
  <div class="logo ml-20 mt-10">
    <button class="m-2 py-2 px-4 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
      🚀 Space Compare
    </button>
  </div>
  <div class="ml-10 mt-10 mr-10 flex justify-end ...">
    <button class="m-2 py-2 px-4 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
     💫 Destinations
    </button>
    <button class="m-2 py-2 px-4 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
      🛸 Vehicle
    </button>
    <button class="m-2 py-2 px-4 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
      ＄Max Price
    </button>
  </div>

</div>


  <div class="flex flex-wrap mt-10 mr-10 ml-10 justify-around">
   <% @companies.each do |company| %>
   <div class="company w-64 h-96 bg-slate-900 mx-2 mb-8 rounded-lg shadow-lg">
      <div class="image">
        <%= image_tag "stars.jpg", class: "w-screen h-40" %>
      </div>
      <div class="tags pt-2 pr-2 flex justify-end ...">
        <button class="m-2 py-1 px-2 text-pink-600 bg-pink-200 text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
          <%= company.destinations[0].name %>
        </button>
          <% if  company.destinations[1] != nil %>
          <button class="m-2 py-1 px-2 text-pink-600 bg-pink-200 text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
            <%= company.destinations[1].name %>
          <% end %>
        </button>
      </div>
      <div class="info pt-5 pl-5 leading-10">
        <ul>
          <li> <%= company.name %></li>
          <li class="text-slate-600"> Vehicle: <%= company.vehicle %></li>
          <li class="text-slate-600"> Starting from: $<%= company.starting_price.to_s(:delimited)  %></li>
        </ul>
      </div>
   </div>
    <% end %>
  </div>
