<div class="logo mt-10">
  <%= link_to root_path, class: "" do %>
    <%= image_tag "logo.png", class: "w-24 h-24 ml-20" %>
  <% end %>
  <%= link_to info_path, class: "m-2 py-2 px-4 text-purple-500 font-semibold rounded-lg shadow-md border-solid border-2 border-purple-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 absolute right-10 top-10" do %>
    List your spaceflight
  <% end %>
</div>

<div class="flex flex-row" >
  <div class="mt-20 mr-20 ml-20 text-white basis-1/2">
    <div class="image">
      <%= image_tag "stars.jpg", class: "w-80 h-40 rounded-lg" %>
    </div>
  <ul class="mt-10">
    <li> <%= @company.name %></li>
    <li class="text-slate-600"> companyurl.com</li>
    <li class="text-slate-600"> Starting from: $<%= @company.starting_price.to_s(:delimited)%></li>
  </ul>
  <div class="intro border-t-2 pt-5 mt-5 ">
    <p>cxzcxzcxzcxzcxzczxcxzczxcxzcxzcxzc
  zcxzczxczxczxcxzczxczxcxzcxzcxzc
  zxczxcxzczxxcxzcz.</p>
  </div>
  <div class="intro border-t-2 pt-5 mt-5">
    <h1>DESTINATIONS</h1>

     <% @destinations.each do |destination| %>
     <ul>
       <li class="text-slate-600"><%= destination.name %></li>
     </ul>
     <% end %>
  </div>
  </div>


  <div class="mt-20 mr-20 ml-20 text-white basis-1/2">
    <div class="ready">
      <h1 class="mb-10">READY TO GO?</h1>
      <%= link_to root_path, class: "mt-2 py-2 px-20 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" do %>
        RESERVE YOUR TRIP ->
      <% end %>
    </div>
    <div class="questions pt-10">
    <h1 class="mb-10">GOT QUESTIONS?</h1>
    <%= link_to root_path, class: "py-2 px-20 bg-slate-900 text-white font-semibold rounded-lg shadow-md hover:bg-purple-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" do %>
      Get it answered here ->
    <% end %>
    </div>
  </div>
</div>
