<!DOCTYPE html>
<html>
  <head>
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="033a729c-2bf5-4cfc-b839-d7108c9134fb" data-blockingmode="auto" type="text/javascript"></script>
    <title>Spaceflight Index</title>
    <!-- <link rel="shortcut icon" type="image/jpg" href="images/logo.png"/> -->
    <%= favicon_link_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-black">
      <%= yield %>
  </body>
  <footer>
    <%= render "shared/footer" %>
  </footer>
</html>
